
.dayofweek {
	border: 2px solid black;
	box-shadow: 2px 2px 2px;
	border-radius: 15px;
	margin: 5px 0 5px 0;
}

.boob {
	padding: 2px 10px 2px 20px;
}

.pee {
	font-size: 1.2em;
}

.myWorkoutsColor {
	background-color: rgba(54, 25, 25, .5);
	opacity: 0.8;
}

.waves-light {
	background-color: red;
}

nav {
	background-color: blue;
}

.custom-nav {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

#hometitle {
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

//DropDown//
.dropdown {
    position: relative;
    display: inline-block;
}

// .dropdown-content {
// 	color: #0000CD;
//     // display: none;
//     position: absolute;
//     // background-color: #f9f9f9;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     padding: 12px 16px;
//     z-index: 1;
// }

.dropdown:hover .dropdown-content {
    display: block;
}
//End of DropDown//



// .nav-wrapper {
// 	z-index: 1;
// }

// ul {
// 	padding-top: 50px;
// }
// .workHover:hover{
// 	color: darkblue;
// }
// .suggHover:hover{
// 	color: darkblue;
// }
// .creaHover:hover{
// 	color: darkblue;
// }

.workHover {
}
.suggHover {
	color: white;
}
.creaHover {
	color: white;
}



@keyframes rotate {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(90deg); }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(270deg); }
	100% { transform: rotate(360deg); }
}

.spinner {
	margin-left: 480px;
	animation: rotate 5s linear infinite;
}





