
.dayofweek {
	border: 2px solid black;
	box-shadow: 2px 2px 2px;
	border-radius: 15px;
	margin: 5px 0 5px 0;
}

.boob {
	padding: 2px 10px 2px 20px;
}

.pee {
	font-size: 1.2em;
}

.myWorkoutsColor {
	background-color: rgba(54, 25, 25, .5);
	opacity: 0.8;
}

.waves-light {
	background-color: red;
}

nav {
	background-color: blue;
}
//Side Nav//



// .nav-wrapper {
// 	z-index: 1;
// }

// ul {
// 	padding-top: 50px;
// }
// .workHover:hover{
// 	color: darkblue;
// }
// .suggHover:hover{
// 	color: darkblue;
// }
// .creaHover:hover{
// 	color: darkblue;
// }

.workHover {
}
.suggHover {
	color: white;
}
.creaHover {
	color: white;
}
