
<div ng-include="'partials/navbar.html'">
	</div>


<!--  MAIN CONTENT ON PAGE - TWO COLUMNS 4 BOXES -->

<div style="background:lightgray;">



<div class="container">


<!-- SIDE NAV -->
    <!--  <div class="col s3">
                <ul class="fixed">
                    <li><button class="btn workHover" href="#!/myWorkouts">My Workouts</button></li>
                    <br>
                    <li><button class="btn suggHover" href="#!/suggested">Suggested</button></li>
                    <br>
                    <li><button class="btn creaHover" href="#!/addWorkout">Create Workout</button></li>
                </ul>
     </div> -->
<!-- END SIDE NAV -->


		  <ul class="collapsible" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header" style="text-align:center;color:#0000CD;font-size:1.6em;">What do I do?</div>
		      <div class="collapsible-body" style="background-color:white;"><p style="font-size:1.3em;margin-bottom:50px;">Workout Tracker is an easy-to-use system that keeps track of your exercising schedule for each week.  You can choose from suggested workout plans on the Suggested Workouts page and add them to your weekly schedule. If you're familiar with working out, feel free to create your own by clicking Create Workout. Keep track of your weekly workout plan on the My Workouts page. Click on Quote of the Day for a random quote for inspiration! Also click "Weightlifting Instructions" if you are unsure how to do ANY exercise. Have fun and enjoy.</p></div>
		    </li>
		  </ul>


    <div class="row">
        <div class="card col s6 z-depth-5" style="padding-right:10px;">
            <div class="card-content">
                <a href="#!/myWorkouts"><h5 style="text-align:center;color:#0000CD;">My Workouts</h5></a>
            </div>
            <div style="text-align:center;" class="card-tabs">
                <img src="images/widw.jpg" height="280px" width="400px" alt="billy">
            </div>

        </div>
        <div class="card col s6 z-depth-4" style="padding-left:10px;">
            <div class="card-content">
                <a href="#!/suggested"><h5 style="text-align:center;color:#0000CD;">Suggested Workouts</h5></a>
            </div>
            <div style="text-align:center;" class="card-tabs">
                <img src="images/exer.jpg" height="280px" width="300px" alt="workoutguy">
            </div>

        </div>
    </div>
    <div class="row">
        <div class="card col s6 z-depth-5">
            <div class="card-content">
                <a href="#!/addWorkout"><h5 style="text-align:center;color:#0000CD;">Create Workout</h5></a>
            </div>
            <div class="card-tabs">
            </div>
            <div class="card-content grey lighten-4">
                <div id="test4">Create your own personalized workout and add to My Workouts!</div>
            </div>
        </div>
        <div class="card col s6 z-depth-5">
            <div class="card-content">


            <a href="" ng-click="generateQuote()" data-target='modal' modal><h5 style="text-align:center;color:#0000CD;">Quote of the Day</h5></a>

             </div>
            <div class="card-tabs">
            </div>
            <div class="card-content grey lighten-4">
                <div style="text-align:center" id="test4">Feeling down today? Click for random inspiration.</div>
            </div>
                			<!--MODAL DRAWING FROM API-->

                <div id="modal" class="modal">
                    <div class="modal-content">

                        <div class="row">
                            <div class="input-field col s12">


                                <p id="random_quote" style="font-size:1.1em; text-align:center;"></p>
                                <h4 id="random_author" style="text-align:center;"></h4>

                            </div>
                        </div>


                        <div class="modal-footer">
                            <a href="#!/homeView" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="$dismiss()">Close</a>

                        </div>
                    </div>
                  </div>
							<!-- end of MODAL -->

        </div> <!-- END OF CARD FOR QUOTE MODAL -->
    </div>


	</div>
</div>

</div> <!-- CONTAINER -->

</div>
