<div ng-include="'partials/navbar.html'">
</div>
<div class="parallax-container">
    <div parallax><img src="images/weightroom.jpg"></div>
</div>
<!-- SIDE NAV -->
<div class="row">
    <div class="col s3">
        <ul class="fixed">
            <li>
                <button class="btn pulse workHover"><a href="#!/myWorkouts">My Workouts</a></button>
            </li>
            <br>
            <li>
                <button class="btn suggHover"><a href="#!/suggested">Suggested</a></button>
            </li>
            <br>
            <li>
                <button class="btn creaHover"><a href="#!/addWorkout">Create Workout</a></button>
            </li>
        </ul>
    </div>
    <!-- END SIDE NAV -->
    <div class="container myWorkoutsColor">
        <div class="col s9">
            <h4 style="text-align:center;">My Workouts Schedule</h4>
            <p style="text-align:center;">Click to edit or delete workout from schedule.</p>
            <div class="dayofweek" ng-repeat="key in workouts">
                <div class="section boob">
                    <h5>{{key.Day}}</h5>
                    <p><strong>{{key.Muscles}}</strong></p>
                    <p>{{key.Exercises}}</p>
                    <!--  <a href="#!/myWorkouts/{{workouts.workoutId}}"> -->
                    <!-- Modal Trigger -->
                    <div class="row">
                        <div class="col">
                            <a class='btn waves-effect waves-light' data-target='modal-{{key.id}}' modal>Edit</a>
                        </div>
                        <a href="#!/myWorkouts">
                            <button class="btn btn-responsive" ng-click="deleteWorkout(key.id)">Delete</button>
                        </a>
                        <a data-target='completeModal' href="#!/myWorkouts">
                            <button style="float:right;margin-right:20px;" class="btn btn-responsive" ng-click="">Complete!</button>
                        </a>
                    </div>
                </div>



                        <!-- COMPLETED MODAL - shows diet! -->
                        <!-- Modal Structure -->
                       <!--  <div id='completeModal' class="modal">
                            <div class="modal-content">
                                <h5>Congratulations!</h5>
                                <p>You have completed your workout. Here are some diet recommendations:</p>
                                <p><a href="http://www.menshealth.com/nutrition/muscle-food/slide/4">Foods for Building Muscle</a></p>
                                <p><a href="http://www.livestrong.com/article/516856-good-foods-to-eat-when-cutting-weight-for-wrestling/">Foods for Cutting Weight</a></p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!myWorkouts" class="modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
                            </div>
                        </div> -->
                        <!-- END OF COMPLETE MODAL -->


                        <!-- EDIT Modal Structure -->
                        <div id="modal-{{key.id}}" class="modal">
                            <!-- Put {{key.id}} here in this format to target the specific workout object instead of
                the first one only! -->
                            <div class="modal-content">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <!-- key.Muscles populates with whats in the object already -->
                                        <input id="muscles" ng-model="key.Muscles" type="text" class="validate">
                                        <!-- <label for="last_name">Muscles</label> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <!--      NG-MODEL="newExercise" - SAME AS $scope.newExercise - !!!!!-->
                                        <input id="exercises" ng-model="key.Exercises" type="text" class="validate">
                                        <label for="password">Exercises</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        Additional Notes for workout:
                                        <div class="input-field inline">
                                            <input id="notes" ng-model="key.Notes" type="text" class="validate">
                                            <label for="text" data-error="wrong" data-success="right">Notes</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!/myWorkouts" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="$dismiss()">Cancel</a>
                                    <a href="#!/myWorkouts" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="editWorkout(key.id, key)">Save</a>
                                    <!--  (key.id) corresponds to workoutId in editWorkout function (datafactory) -->
                                    <!-- (key) corresponds to "edited" which is the edited object -->
                                </div>
                            </div>
                        </div>
                        <!--  END EDIT MODAL -->
                    </div>
                </div>
            </div>
  <!--       </div> -->
    <!-- </div> -->
    <div class="parallax-container">
        <div parallax><img src="images/weightroom.jpg"></div>
    </div>
</div>