<div ng-include="'partials/navbar.html'">
</div>
<!-- <div class="parallax-container">
    <div parallax><img src="images/weightroom.jpg"></div>
</div> -->
<!-- SIDE NAV -->
<div class="row" style="margin-bottom:0;background-color:#269;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px">
    <div class="col s3">
        <ul class="fixed">
            <li>
               <a style="background-color:#0000CD;" class='btn waves-effect waves-light pulse' href="#!/myWorkouts">My Workouts</a>
            </li>
            <br>
            <li>
                <a style="background-color:#0000CD;" class='btn waves-effect waves-light' href="#!/suggested">Suggested</a>
            </li>
            <br>
            <li>
                <a style="background-color:#0000CD;" class='btn waves-effect waves-light' href="#!/addWorkout">Create Workout</a>
            </li>
        </ul>
    </div>
    <!-- END SIDE NAV -->
    <div class="container">
        <div class="col s9">
            <h3 style="text-align:center;font-family:'Bungee Inline', cursive;">My Workouts Schedule</h3>
            <p style="text-align:center;background:white;font-size:1.3em;">Click to edit or delete workout from schedule.</p>
            <div class="dayofweek" ng-repeat="key in workouts">
                <div class="section boob z-depth-5" style="background:white;border-radius:15px;">
                    <h5 style="text-align:center;"><strong>{{key.Day}}</strong></h5>
                    <p style="text-align:center;"><strong>{{key.Muscles}}</strong></p>

                    <!-- This makes a list of all "exercises" in the array, which is made in the controller  -->
                    <!-- by the '.split' on workouts[workout] -->
                    <h6><strong>Exercises to Complete:</strong></h6>
                    <ul><li ng-repeat="Exercise in key.Exercises">{{Exercise}}</li></ul>
                    <p>{{key.Notes}}</p>
                    <!--  <a href="#!/myWorkouts/{{workouts.workoutId}}"> -->
                    <!-- Modal Trigger -->
                    <div class="row">
                        <div class="col">
                            <a style="background-color:#0000CD;" class='btn waves-effect waves-light' data-target='modal-{{key.id}}' modal>Edit</a>
                        </div>
                        <a href="#!/myWorkouts">
                            <button style="background-color:#0000CD;" class="btn btn-responsive" ng-click="deleteWorkout(key.id)">Delete</button>
                        </a>
                        <a href="#!/myWorkouts">
                            <button style="float:right;margin-right:20px;background-color:#0000CD;" class="btn btn-responsive" data-target="completeModal-{{key.id}}" modal>Complete!</button>
                        </a>
                    </div>
                </div>

            <!-- EDIT Modal Structure -->
                <div id="modal-{{key.id}}" class="modal">
                <!-- Put {{key.id}} here in this format to target the specific workout object instead of the first one only! -->
                <div class="modal-content">
                    <div class="row">
                        <div class="input-field col s6">
                            <!-- key.Muscles populates with whats in the object already -->
                            <p><strong>Muscles</strong></p>
                            <input id="muscles" ng-model="key.Muscles" type="text" class="validate">
                            <!-- <label for="last_name">Muscles</label> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <!--      NG-MODEL="newExercise" - SAME AS $scope.newExercise - !!!!!-->
                            <p><strong>Exercises</strong></p>
                            <input id="exercises" ng-model="key.Exercises" type="text" class="validate">
                            <!-- <label for="password">Exercises</label> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            Additional Notes for workout:
                            <div class="input-field inline">
                                <input id="notes" ng-model="key.Notes" type="text" class="validate">
                                <label for="text" data-error="wrong" data-success="right">Notes</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!/myWorkouts" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="$dismiss()">Cancel</a>
                        <a href="#!/myWorkouts" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="editWorkout(key.id, key)">Save</a>
                        <!--  (key.id) corresponds to workoutId in editWorkout function (datafactory) -->
                        <!-- (key) corresponds to "edited" which is the edited object -->
            <!--  END EDIT MODAL -->
                    </div>
                </div>
            </div>
            <!-- COMPLETED MODAL - shows diet! -->
            <!-- Modal Structure -->
             <div id='completeModal-{{key.id}}' class="modal">
                            <div class="modal-content">
                                <h5>Congratulations!</h5>
                                <p>You have completed your <strong>{{key.Day}}</strong> workout. Here are some diet recommendations:</p>
                                <p><a target="_blank" href="http://www.menshealth.com/nutrition/muscle-food/slide/4">Foods for Building Muscle</a></p>
                                <p><a target="_blank" href="http://www.livestrong.com/article/516856-good-foods-to-eat-when-cutting-weight-for-wrestling/">Foods for Cutting Weight</a></p>
                            </div>
                            <div class="modal-footer">
                              <a href="#!/myWorkouts">
                               <button style="background-color:#0000CD;" class="modal-close btn btn-responsive" ng-click="completeWorkout(key.id)">Delete</button>
                              </a>
                                <a href="#!myWorkouts" class="modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
                            </div>
                </div>
            <!-- END OF COMPLETE MODAL -->

            </div>  <!-- ng-repeat workouts (workoutId) -->



        </div>
    </div> <!-- CONTAINER -->
 </div><!-- ROW -->
</div>
<div class="parallax-container">
    <div parallax><img src="images/weightroom.jpg"></div>
</div>
