
  <nav class="custom-nav" style="background-color:blue;">
    <div class="nav-wrapper">
      <a style="margin-left:100px;" href="#!/homeView" class="brand-logo">Home</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" style="padding-right:50px;">

        <!-- NEW dropdown -->
                <li style="margin-right:15px;" class='dropdown dropdown-button' href='javascript:void(0);' data-activates='drop' dropdown data-hover="true">Videos</li>
                <div id="drop" class="dropdown-content">
                  <a style="color:#0000CD" href="https://www.youtube.com/results?search_query=chest+workouts" target="_blank">Chest</a>
                  <a style="color:#0000CD" href="https://www.youtube.com/results?search_query=arms+workouts" target="_blank">Arms</a>
                  <a style="color:#0000CD" href="https://www.youtube.com/results?search_query=leg+workouts" target="_blank">Legs</a>
                  <a style="color:#0000CD" href="https://www.youtube.com/results?search_query=back+workouts" target="_blank">Back</a>
                  <a style="color:#0000CD" href="https://www.youtube.com/results?search_query=core+workouts" target="_blank">Core</a>
                </div>
                </li>

        <li><a href="https://wger.de/en/exercise/overview/" target="_blank">Weightlifting Instructions</a></li>
        <li><a href="#!/myWorkouts">{{userObj.name}}</a></li>
        <li><a href="#!/">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">

        <!-- NEW dropdown -->
        <!-- <li><a class='dropdown-button' href='#' data-activates='dropdown1' target="_blank">Videos</a></li> -->


          <!-- Does this ^ need to be UL? ^^ -->
        <li><a href="https://wger.de/en/exercise/overview/" target="_blank">Weightlifting Instructions</a></li>
        <li><a href="#!/myWorkouts">{{userObj.name}}</a></li>
        <li><a href="#!/" ng-click="logoutUser()">Logout</a></li>
      </ul>
    </div>
  </nav>


