<div ng-include="'partials/navbar.html'"></div>
        <!-- SIDE NAV -->
<div class="row" style="margin-bottom:0;background-color:#269;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px">
            <div class="col s3">
                <ul class="fixed">
                    <li><a class='btn waves-effect waves-light' href="#!/myWorkouts">My Workouts</a></li>
                    <br>
                    <li><a class='btn waves-effect waves-light pulse' href="#!/suggested">Suggested</a></li>
                    <br>
                    <li><a class='btn waves-effect waves-light' href="#!/addWorkout">Create Workout</a></li>
                </ul>
            </div>
        <!-- END SIDE NAV -->
<div class="container">
<div class="col s9">
    <h4 style="text-align:center;margin-right:50px;font-family:'Bungee Inline', cursive;">Suggested Workouts</h4>
    <p style="text-align:center;background:white;font-size:1.3em;">Click to add a workout to your "My Workouts" schedule.</p>
    <div class="dayofweek" ng-repeat="key in workouts">
        <div class="section boob" style="background:white;">
            <h5>{{key.Day}}</h5>
            <p><strong>{{key.Muscles}}</strong></p>
            <p>{{key.Exercises}}</p>
            <button class="btn btn-responsive" ng-click="addSuggestedWorkout(key)">Save</button>
        </div>
    </div>
    </div>

 </div>
</div>
